.tableContainer {
  height: calc(100% - 50px) !important;
  background: rgb(15,14,14) !important;
}


.filterTableCell{ display: flex !important; align-items: center; }

.filterTableCell>svg{
  margin-left: auto;
  fill: rgba(255,255,255,0.5) !important;
}

.filterTableCell>svg:hover{
  cursor: pointer !important;
  fill: rgba(255,255,255,1) !important;
}