.root {
  height: 100vh;
}

.loginPaper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.textfield {
  width: 25rem;
}
.logostyle {
  width: 100px !important;
  height: 100px;
  max-height: 100px;
}
.button {
  width: 20rem !important;
}
